@font-face {
    font-family: Freedom;
    src: url('../fonts/FREEDOM.ttf');
}

@font-face {
    font-family: Moonhouse;
    src: url('../fonts/moonhouse.ttf');
}

h1 {
  font-family: Moonhouse;
  text-transform: uppercase;
  font-size: 50px;
  margin: 0;
}

#gameCanvas {
  margin-top: 5px; 

  border-top: 1px solid #25545b;
  border-left: 1px solid #25545b;
  border-right: 1px solid #25545b;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  background: #75a8ae;                                  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#75a8ae, #FFF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#75a8ae,  #FFF);     /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#75a8ae, #FFF);    /* For Firefox 3.6 to 15 */
  background: linear-gradient(#75a8ae, #FFF);         /* Standard syntax */
}

.score-wrapper {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.score-wrapper h2 {
  font-family: FREEDOM;
  font-size: 32px;
}

.score-wrapper p {
  border: 1px solid #25545b;
  background: #e2fcff;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.score-level, .score-score, .score-lives {
  font-family: Moonhouse;
  font-size: 22px;
  margin-left: 10px;
  margin-right: 10px;
  /*margin-bottom: 10px;*/
  text-align: center;
}

.col-md-2 {
  border: 1px solid #25545b;
  background: #75a8ae;
}

#pauze-game, #game-start, #game-stop {
  font-family: FREEDOM;
  background: #e2fcff;
  font-size: 16px;
  width: 144px;
  /*margin-top: 40px;*/
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;

  border: 1px solid #25545b;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

#pauze-game:hover, #game-start:hover, #game-stop:hover {
  background: #f8f9e9;
}

#pauze-game:disabled {
  color: #dddddd;
  background: #f8f9e9;
}

.lives {
  transform: scale(1.7);
}

.debug {
  padding-left: 5px;
}

/*
Make the canvas resonsive
-------------------------------
Default value is 800*600, but the canvas will re-scale based on the width of the screen.
Minimum width is tablet: 768px
Medium desktop: 992px
Wide screen: 1200px
And above :D: > 1200px
*/
@media only screen and (min-width : 1200px) {
  #gameCanvas {
    width:800px;
    height:600px;
  }
}

@media only screen and (max-width : 1200px) {
  #gameCanvas {
    width:768px;
    height:576px;
  }
}

@media only screen and (max-width : 992px) {
  #gameCanvas {
    width:704px;
    height:480px;
  }
}

@media only screen and (max-width : 768px) {
  #gameCanvas {
    width:640px;
    height:480px;
  }
}